@{
}
<div class="modal fade" id="showEditModal" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-light p-3">
                <h5 class="modal-title" id="exampleModalLabel">@sharedResource["Edit Page Name"]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close" id="close-modal"></button>
            </div>

      
                <div class="modal-body">

                    
                    <input type="hidden" id="EditPageId" />



                    <div class="row g-3">
                        <!--end col-->
                        <div class="col-lg-12">
                            <div>
                                <label class="form-label">@sharedResource["Title"]</label>

                                <input type="text" id="PageTLENId"
                                       class="form-control"
                                       placeholder="Enter Title" required />


                            </div>
                        </div>

                        <!--end col-->
                        <!--end col-->
                        <!--end col-->
                    </div>
                    <!--end row-->
                </div>
                <div class="modal-footer">
                    <div class="hstack gap-2 justify-content-end">
                        <button type="button" class="btn btn-light"
                                data-bs-dismiss="modal">
                            Close
                        </button>
                        <button type="button" onclick="EditPostPage()" class="btn btn-success"
                                id="add-btn">
                            @sharedResource["Edit"]
                        </button>

                    </div>
                </div>
           
        </div>
    </div>
</div>
