body {
}
.gjs-editor-cont {
    height: 100% !important;
}

.gjs-one-bg {
    background-color: #2e2e47;
}

.app-content {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

[data-kt-app-footer-fixed=true] .app-wrapper {
    margin-bottom: 0;
}

.gjs-two-color {
    color: #c8c8e4 !important;
}

.gjs-four-color-h:hover {
    color: #9393c9 !important;
}

.gjs-block-label {
    color: #c8c8e4 !important;
}

.gjs-block {
    width: 95% !important;
    /* height: 50px !important; */
    min-height: initial !important;
}

.gjs-devices-c {
    padding: 0px !important;
}

.gjs-block-label{
    display:none !important;
}
.gjs-four-color {
    color: #009ef7 !important;
}