@using iTech.Data
@inject CRMDBContext _context
@{
    var locale = Context.Features.Get<IRequestCultureFeature>();

    var BrowserCulture = locale.RequestCulture.UICulture.ToString();
    var Brands = _context.Brands.ToList();
    var BrandBrief = _context.BrandsBrief.Where(e => e.BrandsBriefId == 1).FirstOrDefault();
    var BrandBriefTitle = _context.BrandsBrief.Where(e => e.BrandsBriefId == 2).FirstOrDefault();

}

<div class="container">
    <div class="row text-center pt-4 mt-5">
        <div class="col">
            <h2 class="word-rotator slide font-weight-bold text-8 mb-2">
                @if(BrandBriefTitle != null)
                {
                    if (@BrowserCulture == "en-US")
                    {

                        @BrandBriefTitle.BriefEN

                    }
                    else
                    {
                        @BrandBriefTitle.BriefAR

                    }
                }
                
            </h2>
            @{
                @if (BrandBrief != null)
                {

                    if (@BrowserCulture == "en-US")
                {
                    
                    <h4 class="text-primary lead tall text-4">@BrandBrief.BriefEN</h4>

                }
                else
                {
                    <h4 class="text-primary lead tall text-4">@BrandBrief.BriefAR</h4>

                }
            }
            }

        </div>
    </div>

    <div class="row text-center mt-5 pb-5 mb-5">
        <div class="owl-carousel owl-theme carousel-center-active-item mb-0" data-plugin-options="{'responsive': {'0': {'items': 1}, '476': {'items': 1}, '768': {'items': 5}, '992': {'items': 7}, '1200': {'items': 7}}, 'autoplay': true, 'autoplayTimeout': 3000, 'dots': false}">
            @{
                if (Brands != null)
                {
                    foreach (var item in Brands)
                    {
                        <div>
                            <img class="img-fluid" style="
        width: 150px;
        height: 150px;
        background-image: cover;
    " src="~/@item.Images" alt="">
                        </div>

                    }
                }
                
           } 
        </div>
    </div>
</div>